<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <h1 class="title">Post Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad distinctio ab rerum. Nesciunt dolor, reprehenderit
        quis delectus officia quaerat ea cumque autem magnam atque vel. Vitae voluptate sequi molestiae non!</p>

</body>

</html>